{
  "$schema": "https://swc.rs/schema.json",
  "jsc": {
    "target": "es2022",
    "keepClassNames": true,
    "parser": {
      "syntax": "typescript",
      "dynamicImport": true,
      "decorators": true
    },
    "transform": {
      "decoratorMetadata": true,
      "useDefineForClassFields": false
    }
  },
  "sourceMaps": true
}
