{
  "$schema": "https://swc.rs/schema.json",
  "jsc": {
    "target": "es2024",
    "parser": {
      "syntax": "typescript",
      "tsx": true,
      "dynamicImport": true
    },
    "transform": {
      "react": {
        "runtime": "automatic"
      }
    }
  },
  "sourceMaps": true
}
